 # Capstone Project: Data Science

In [3]:
import pandas as pd
import numpy as np

In [4]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Neighbourhoods in Toronto

### Scraping

In [5]:
import requests

In [6]:
from bs4 import BeautifulSoup

In [7]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'html.parser')

In [8]:
table = soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

### Preparing the dataframe

In [20]:
df = pd.DataFrame(row)
df.head()

                                       0
0   \nPostcode\nBorough\nNeighbourhood\n
1    \nM1A\nNot assigned\nNot assigned\n
2    \nM2A\nNot assigned\nNot assigned\n
3         \nM3A\nNorth York\nParkwoods\n
4  \nM4A\nNorth York\nVictoria Village\n

In [22]:
df1 = df[0].str.split('\n',expand=True)
df2 = df1.rename(columns=df1.iloc[0])
df2.head()

     Postcode       Borough     Neighbourhood
0    Postcode       Borough     Neighbourhood
1         M1A  Not assigned      Not assigned
2         M2A  Not assigned      Not assigned
3         M3A    North York         Parkwoods
4         M4A    North York  Victoria Village

In [30]:
df2 = df2.drop(df2.index[0])

In [31]:
df2.head()

    Postcode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

In [34]:
df3 = df2[df2.Borough != 'Not assigned'].reset_index().drop(['index'],axis=1) #Ignoring the not assigned values
df3.head()

    Postcode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [39]:
df4 = df3.groupby(['Postcode','Borough'],sort = False).agg(','.join) # combining neighbourhoods with same code
df4.reset_index(inplace = True)
df4.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [44]:
df4.loc[df4['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df4['Borough'] #replace 'not assigned' with the borough name

In [45]:
df4.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

### Shape of the dataset

In [46]:
df4.shape

(103, 3)